.home{
  color: #0a0a0a;
  min-height: 50vh;

}

.objeto{
  min-height: 210vh;
  color: #070707;
}

.profile{
  min-height: 50vh;
  color: #080808;

}

.profile h2{
  margin-bottom: 8px;
}


.user{
  margin-top: 3px;
  text-align: end;
  color: #0c0c0c;
}

